<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bawebdevelopment.drinkmixr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewAllDrinksActivity"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".AddDrinkActivity"
            android:parentActivityName=".ViewAllDrinksActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewAllDrinksActivity"/>>
        </activity>
        <activity android:name=".ViewDrinkActivity"
            android:parentActivityName=".ViewAllDrinksActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewAllDrinksActivity"/>
        </activity>
    </application>

</manifest>